  <div class="topic-index-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h1>開発中</h1>

              <!-- ユーザー名 -->
              <p class="topic-author">
                <%= @user.name %>
              </p>
              <!-- 投稿文 -->
              <p class="topic-text">
                <%= @user.email %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
