<!-- トップページ -->

<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <!-- テキスト -->
    <div class="row">
    <h2 class="text-white top">お気に入りのお酒を記録しよう。</h2>
    <h1 class="text-white top">日本を嗜む</h1>
    </div>
  </div>
</div>
