body{
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Cambria','Optima',sans-serif;
}

ul{
  list-style: none;
}

h1, h2 {
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
}

// ーーーTOPーーー

.text-white {
  color: #fff;
}

.top{
  writing-mode: vertical-rl;
  vertical-align: top;
  line-height: 1.4;
  display: inline-block;
  margin-left: 60px;
  float: left;
  font-weight: 500;
  position: relative;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  display: inline-block;

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("images/top.png");
  // opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.top-hero-wrapper::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

// ーーーForm Areaーーー

.form-control {
  height: 45px;
}

// ーーーSign Up Pageーーー


  .users-new-container {
    padding-top: 220px;
    .form-group {
      margin-bottom: 20px;
    }
  }

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

// ーーーHeaderーーー

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    font-size: 40px;
    font-weight: 200;
    margin: 10px 0 10px 0;
    color: white;
  }

  .not_log_in{
    border:1px white solid;
    padding:0px ;
    margin: 8px 10px 0 10px;
  }

  img {
    height: 40px;
  }
}


// ーーーButtonーーー

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

// ーーーNew Post Pageーーー

.topic-new-wrapper {
  padding-top: 120px;
}

// ーーーTopic indexーーー

.topic-index-wrapper {
  padding-top: 70px;
  background-color: white;

// ーーーTopic Singleーーー

  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 2px outset grey;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .bookmark {
    width: 50px;
    height: 50px;
    color: #ffffff;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 80%;
    left: 55%;
}

    ul{
      padding-left: 10px;
    }

    li{
      display: inline-block;
    }

    .added {
      color: red;
    }

    .stars{
      width: 20px;
      height: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}
